.compDia {
    display: inline-block;
    margin: 15px;
    vertical-align: top;
    width: 270px;
}

.compDia__titulo {
    color: gray;
}

.compDia__containerPerguntas {
    border: 1px solid red;
    padding: 30px;
    position: relative;
}

.compDia__adicionarPergunta {
  background-color: #F44336;
  bottom: 15px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  color: #FFF;
  height: 56px;
  outline: none;
  position: absolute;
  right: 15px;
  width: 56px;
}

